<div class="wrapper">
    <div class="overlay" *ngIf="openPopup"></div>
    <div class="popup" *ngIf="openPopup">
        <div class="email-popup">
            <h6>Email Notification</h6>
           
            <p [class.failed]>{{status}}</p>

            <button class="close-btn" (click)="openPopup = false">
                <img src="/assets/close.png" alt="">
            </button>
        </div>
        

    </div>
   
    <div class="toolbar">
        <button  class="logo "(click)="navigateHome()">
            <div class="div logo mobile">
                <span class="logo">B<span class="part2">n</span>.</span>
            </div>
        </button>
        
        <button class="custom-menuBar mobile" [class.cross]="menuOpened" (click)="openMenu()">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </button>
        <div class="big-screens-menu">
            <button class="logo " (click)="navigateHome()">
                <div class="div logo desktop">
                    <span class="logo">B<span class="part2">n</span>.</span>
                </div>
            </button>
            <div class="menu-links">
                <a href="#services">Services</a>
                <a href="#skills">Skills</a>
                <a href="#experience">Experience</a>
            </div>
            <button class="xe-button top hire-me" (click)="ContactMe()">
                <span>Hire me</span>
                <span class="img"><img src="/assets/check-mark.png" alt=""></span>
            
            </button>
            
           
        </div>
        <div class="top-menu small-screens" *ngIf="menuOpened">
            <div class="my-phone-menu">
                <div class="menu-links">
                    <a href="#services">Services</a>
                    <a href="#skills">Skills</a>
                    <a href="#experience">Experience</a>
                </div>
                <button class="xe-button top hire-me" (click)="ContactMe()">
                    <span>Hire me</span>
                    <span class="img"><img src="/assets/check-mark.png" alt=""></span>
                
                </button>

            </div>         
        
            
        </div>
       
    </div>
    <div class="mySectBox1 sections sect">
        
        <div class="xe-card card1">
            <div class="content">
                <h1>Hey! <br>  I am <span>B</span>o<span>n</span>face. <br> <span>A Software Engineer</span> <br> with 3 years of experience.</h1>
                <p>
                    I'm proficient in Python, <br> Django, Java, Angular, React and more.
                </p>
            </div>

            <button class="xe-button hire-me" (click)="ContactMe()">
                <span>Hire me</span>
                <span class="img"><img src="/assets/check-mark.png" alt=""></span>
            
            </button>
            <img class="dots" src="/assets/dots-green.svg" alt="">
        </div>
        <div class="xe-card card2">
            <div class="bordered">
              
            </div>
            <img class="me" src="/assets/real bonface.png" alt="">            
        </div>
    </div>
    <div class="section1 sect" id="services">
        <div class="heading">
            <h2>Services</h2>

            <h5>Exploring a Universe of Interface Innovations: <br>
            Unveiling My Web Design Portfolio.</h5>
        </div>

        <div class="cards">
            <div class="mycard" *ngFor="let dt of data" ANIMATE>
                <app-xe-card 
                [description]="dt.description" 
                [image]="dt.image" 
                [title]="dt.title"
                [moreDescription1]="dt.moreDescription1"
                [moreDescription2]="dt.moreDescription2"

                />
            </div>
        </div>

    </div>
    <div class="section1 sect" id="skills">
        <div class="heading">
            <h2>Skills</h2>
        
            <h5>Empowering Expertise: My Skill Set in Focus.</h5>
        </div>
        <div class="skills-card">
        
            <app-xe-skill-cards *ngFor="let dt2 of skill_data" [logo]="dt2.logo" [name]="dt2.name"/>

        </div>
        


    </div>


    <div class="section1 sect" id="experience">
        <div class="heading">
            <h2>Experience and Education</h2>
        
            <h5>Client Collaborations: Bringing Visions to Life Together.</h5>
        </div>
        <div class="experience-card">
        
            <app-exp-xe-card *ngFor="let item of experience_Data"
            
            [year]="item.year"
            [title1]="item.title1"
            [title2]="item.title2"
            [subTitle1]="item.subTitle1"
            [subTitle2]="item.subTitle2"       
            
            ANIMATE
            />
            
        
        
        </div>
    
    
    
    </div>

    <div class="section1 sect" id="contact">


        <div class="heading">
            <h2>Contact Me</h2>
        </div>
        <div class="contact">
    
           <h2>Stay Connected,
        Always <span>Here FOR YOU</span></h2>

        <div class="accounts">
            <div class="details">
                <div class="find-me">
                    <div class="social-media">
                        <a href="https://github.com/AtutiBonface">
                            <img src="/assets/github.png" alt="">
                        </a>
                    </div>
                    <div class="social-media">
                        <a href="https://linkedin.com/in/bonface-atuti-a7b5382a8" target="_blank">
                            <img src="/assets/linkedin.png" alt="">
                        </a>
                    </div>
                    <div class="social-media">
                        <a href="https://twitter.com/BonfaceNyarenc1" target="_blank">
                            <img src="/assets/twitter.png" alt="">
                        </a>
                    </div>
                    <div class="social-media">
                        <a href="https://web.facebook.com/AtutiBonface/" target="_blank">
                            <img src="/assets/facebook.png" alt="">
                        </a>
                    </div>
                    <div class="social-media">
                        <a href="https://www.pinterest.com/bnyarenchi/" target="_blank">
                            <img src="/assets/pinterest.png" alt="">
                        </a>
                    </div>
                    
                </div>
                <div class="more-contact">
                    <p>+254718202340</p>
                    <p>atutibonface.developer&commat;gmail.com</p>
                </div>
            </div>
            <div class="send-message">

                <form [formGroup]="formData" >
                  
                    <div class="inputs">
                        <input type="text" placeholder="Your Name" formControlName="name">
                        <input type="email" placeholder="Your Email" formControlName="email" required>
                        <input type="text" placeholder="Phone Number" formControlName="phone">
                        <input type="text" placeholder="Subject" formControlName="subject">
                    </div>

                    <div class="text-area">
                        <textarea name="message" id="#" placeholder="Message" cols="5"rows="5" formControlName="message"></textarea>
                    </div>

                    <button type="submit" class="xe-button hire-me" (click)="sendMessage()" [disabled]="!formData.valid">
                        <span>Send</span>
                        <span class="img"><img src="/assets/send.png" alt=""></span>
                    
                    </button>
                   
                </form>
                
            </div>
        </div>
    
    
        </div>
    
    
    
    </div>


    <div class="footer">
        <div class="left">
            <p>&copy;{{ year}} Xengine .All rights reserved.</p>
        </div>
        <div class="right">
            <div class="social-media">
                <a href="https://github.com/AtutiBonface">
                    <img src="/assets/github.png" alt="">
                </a>
            </div>
            <div class="social-media">
                <a href="https://linkedin.com/in/bonface-atuti-a7b5382a8" target="_blank">
                    <img src="/assets/linkedin.png" alt="">
                </a>
            </div>
            <div class="social-media">
                <a href="https://twitter.com/BonfaceNyarenc1" target="_blank">
                    <img src="/assets/twitter.png" alt="">
                </a>
            </div>
            <div class="social-media">
                <a href="https://web.facebook.com/AtutiBonface/" target="_blank">
                    <img src="/assets/facebook.png" alt="">
                </a>
            </div>
            <div class="social-media">
                <a href="https://www.pinterest.com/bnyarenchi/" target="_blank">
                    <img src="/assets/pinterest.png" alt="">
                </a>
            </div>
        </div>
    </div>

    <img src="/assets/dots-light.svg" alt="" class="dot second">



    


    
    
</div>